[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
google-cloud-storage = "*"
scikit-learn = "*"
pyyaml = "*"
python-dotenv = "*"
jupyterlab = "*"
notebook = "*"
matplotlib = "*"
seaborn = "*"
parquet = "*"
fastparquet = "*"
xgboost = "*"
lightgbm = "*"
imbalanced-learn = "*"
mlops-p1 = {file = ".", editable = true}
mlflow = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
